{% extends 'main/layout.html' %}

{%block title%}
Главная страница
{%endblock%}

{%block content%}
<div1><img src="https://images.wallpaperscraft.ru/image/single/chernyy_fon_krasnyy_cvet_kraska_vzryv_vsplesk_9844_1280x720.jpg" style="width:1600px" ></div1>
<dif class="features" style="
    position: absolute;
    padding-left: 350px;
    color: skyblue;
">
    <h1 style="color: red">Главная страница</h1>
    <p style="
    padding-top: 10px;
    color: white;
">Сейчас вы видите перед собой страничку почти сделанную без стилей и всего прочего,
        просто потому что они не хотят работать на моём сайте.
        Но я не расстроился и попытался придать этому хоть какой-то вид
        и да мне пришлось изучить для этого не только CSS, HTML но и DevTools,
        потому что у меня просто не было выбора иначе бы сайт был бы белый.
        Я правда постарался сильно не ругайте.Также панель которая находится в левой части сайта полностью функционирует.
    Она позволяет перемещаться между разными страничками
    </p>




</dif>
{%endblock%}