{% extends 'main/layout.html' %}

{%block title%}
про меня
{%endblock%}


{% block content %}
<div>
<h2 style="
position:absolute;
padding-top: 25px;
padding-left: 700px;
font-style: oblique;
font-family: math;
color:white;
">Основная информация</h2>
    <h1 style="position: absolute;color: white;padding-left: 650px;padding-top: 70px;font-family: fangsong;font-style: oblique;">тут я расскажу о себе</h1>
<p style="position:absolute;
padding-top: 175px;
padding-left: 250px;
font-style: oblique;
font-family: math;
color:white;>">Тут представлены пару моих мини работ которые я делал в блендере, ведь  3Д моделирование основное направление в котором я развиваюсь самостоятельно <br>
               ещё как только я поступил в Политех мне надо было чтобы меня заметили, потому что мне было сказано, если я не буду нигде участвовать бюджет улетит.<br>
               Сначала я начал ходить в точку кипения и ездить с ними на сборы, но потом меня затянула тарелочная жизнь Политеха и я начал петь, создал группу и мы многого добились.<br>
               Мы много где выступили много, занимали места в почётных конкурсах, но и учится не забывали.Также я успел поработать в лагере где поднялся по карьерной лестнице.<br>
               Но мне очень понравился этот командный дух и взаимоотношение между работниками.
</p>

    <img src="https://sun9-85.userapi.com/impg/iMZ_A2_Bj5GKXU8ErWhreH-sL9WO1wxjVc_6Zg/SAdnDt-wNOQ.jpg?size=1200x1600&amp;quality=95&amp;sign=f470972e94e4bb875e6a43b2cef53b88&amp;type=album" style="
    padding-left: 200px;
    width: 1500px;
">


</div>
{% endblock %}